source https://api.nuget.org/v3/index.json

framework: >= netstandard2.0

nuget FSharp.Core
nuget FParsec
nuget FsCheck

nuget Nunit
nuget NUnit.ConsoleRunner
nuget NUnit3TestAdapter
nuget SourceLink.Fake
nuget Microsoft.NET.Test.Sdk

group Build 
    source https://api.nuget.org/v3/index.json

    nuget FSharp.Formatting
    nuget FAKE

    github fsharp/FAKE modules/Octokit/Octokit.fsx